.about-composition
    padding: 70px 80px
    .items 
        display: flex
        align-items: center
        justify-content: space-between
        .item
            min-width: 50%
            h1 
                color: #F4BFC7
            p 
                margin: 20px 0   
                line-height: 24px
                font-size: 18px 