body {
  margin: 0;
  font-family: GothamPro;
}
@font-face {
  font-family: "GothamPro";
  src: url("./font/GothamPro/GothamPro.eot") format("eot");
  src: url("./font/GothamPro/GothamPro.ttf") format("truetype");
  src: url("./font/GothamPro/GothamPro.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
